@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$base-size: 16px;
$bodyBackground: #ffffff;
$highlightBackground: #e8e8e8;
$bodyColor: #2b2a2b;
$highlightColor: #41a693;

body {
  font-family: 'Open Sans',$helvetica;
  font-size: $base-size;
  color: $bodyColor;
  background: $bodyBackground;
}

a {
  color: $highlightColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: golden-ratio($base-size, 1);
  font-family: 'Oswald', $helvetica;
}

h2 {
  font-size: $base-size;
  font-style: italic;
  margin: 0;
}

h2+p {
  margin-top: 0;
}

img {
  border-radius: 4px;
  max-width: 100%;
}

.title {
  font-size: golden-ratio($base-size, 2);
  margin-top: 0;
}

.page {
  @include outer-container;
  @include pad();
}

.avatar {
  border-radius: 80px;
  @include span-columns(2);
  @include media($tablet) {
    display: none;
  }
}

section[role="main"] {
  @include span-columns(10);
}

.page-header {
  @include outer-container;
}

.project-list {
  @include outer-container;
  @include pad();
  background: $highlightBackground;
  border-radius: 4px;

  section {
    @include span-columns(3);
    @include omega(4n);
    margin-top: 1em;
    margin-bottom: 1em;

    @include media($tablet) {
      @include span-columns(4);
      @include omega(2n);
    }

    @include media($mobile) {
      @include span-columns(4);
    }
  }
}